//EXTEND
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgWeather {
  @extend %flex-center;
  flex-wrap: wrap;
  border-radius: 25px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  .todayCol1 {
    // background-color: red;
    padding: 20px;
  }

  .todayCol2 {
    // background-color: green;

    .sentionNext {
      background-color: rgba(156, 156, 156, 0.503);
      border-radius: 25px;
      max-height: 80%;
    }
  }
}

// Estilos de la primera columna - datos generales del día de hoy
.mainToday {
  @extend %flex-center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  .mainBox {
    max-width: 80%;
    background-color: rgba(156, 156, 156, 0.503);
    border-radius: 25px;
    margin-bottom: 15px;
    padding: 25px;
    @extend %flex-center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;

    .mainBoxChild1 {
      @extend %flex-center;
      flex-direction: row;
      gap: 2rem;
      .mainIcon {
        max-width: 25%;
      }
    }
    .mainBoxChild2 {
      @extend %flex-center;
      gap: 0.5rem;
    }
  }

  .indicadores {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding: 15px;

    .regularBox {
      width: 120px;
      aspect-ratio: 1/1;
      background-color: rgba(156, 156, 156, 0.503);
      border-radius: 25px;
      margin-bottom: 15px;
      @extend %flex-center;
      flex-direction: column;
      padding: 10px;
    }
  }
}

.nubes {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/nubes.jpg");
}
.sol {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/sol.jpg");
}
.lluvia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/lluvia.jpg");
}
.rayos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/rayos.jpg");
}
.snowing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/snowing.jpg");
}

@media (max-width: 1025px) {
  .mainBox {
    max-width: 80% !important;
  }
}
